  .conteudo{
    margin: 0 0 80px 0;
    width:100%;
  
    h1{
      margin-bottom: 20px;
    }
    p{
      max-width: 600px;
      margin-bottom: 30px;
    }
    ul{
      margin-left: 20px;
    }
  }
  
  .buttons{
    margin-left:10px;
  }
